<div class="container">
	<div class="row">
		<h1>{{baslik}}</h1>
		<form>
			<!-- <div class="form-group" ng-show="false">
				<label for="id">Id</label> 
				<input type="text" class="form-control" id="id" placeholder="id" ng-model="kullanici.id">
			</div> -->
			<div class="form-group">
				<label for="adi">Adı</label> 
				<input type="text" class="form-control" id="adi" placeholder="Adı" ng-model="kullanici.adi" ng-readonly="detayMi">
			</div>
			<div class="form-group">
				<label for="adi">Soyadı</label> 
				<input type="text" class="form-control" id="soyadi" placeholder="Soyadı" ng-model="kullanici.soyadi" ng-disabled="detayMi">
			</div>
			<div class="form-group">
				<label for="adi">E-Posta</label> 
				<input type="text" class="form-control" id="ePosta" placeholder="E-Posta" ng-model="kullanici.ePosta" ng-readonly="detayMi">
			</div>
			<button class="btn btn-success" ng-click="kaydet(kullanici);" ng-show="yeniKayitMi && !detayMi">Kaydet</button>
			<button class="btn btn-success" ng-click="guncelle(kullanici);" ng-show="!yeniKayitMi && !detayMi">Güncelle</button>
			<button class="btn btn-success" ng-click="geriDon();">Geri Dön</button>
		</form>
	</div>
</div>